/bundle/ack.vim
/bundle/ctrlp.vim
/bundle/delimitMate
/bundle/neocomplcache
/bundle/supertab
/bundle/syntastic
/bundle/tagbar
/bundle/vim-easymotion
/bundle/vim-matchit
/bundle/vim-powerline
/.netrwhist
